<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="60" strict="true" name="RSPService">
    <Properties>
        <Property name="patternWithoutMarker">%d{ISO8601} [%t] %-5level %logger{36} - %msg%n</Property>
        <Property name="patternWithMarker">%d{ISO8601}\t[%t]\t%-5level\t%logger{36}\t%marker\t%msg%n</Property>
    </Properties>

    <Appenders>
        <Appender type="Console" name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="${patternWithMarker}"/>
        </Appender>

        <Appender type="RollingFile" name="RollingFile" fileName="logs/divide-service.log"
                  filePattern="logs/divide-service.log-%i">
            <PatternLayout pattern="${patternWithoutMarker}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </Appender>

        <Appender type="RollingFile" name="RestletLogging" fileName="logs/divide-restlet.log"
                  filePattern="logs/divide-restlet.log-%i">
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </Appender>

        <Appender type="RollingFile" name="UnknownErrorLogging"
                  fileName="logs/divide-unknown-errors.log"
                  filePattern="logs/divide-unknown-errors.log-%i">
            <Filters>
                <Filter type="MarkerFilter" marker="[UNKNOWN_ERROR]" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="${patternWithMarker}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </Appender>

        <Appender type="RollingFile" name="MetricLogging"
                  fileName="logs/divide-metrics.log"
                  filePattern="logs/divide-metrics.log-%i">
            <Filters>
                <Filter type="MarkerFilter" marker="[METRIC]" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="${patternWithMarker}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </Appender>
    </Appenders>

    <Loggers>
        <Logger name="LogService" level="INFO">
            <AppenderRef ref="RestletLogging"/>
        </Logger>
        <Root level="DEBUG">
            <AppenderRef ref="STDOUT" level="INFO"/>
            <AppenderRef ref="RollingFile" level="TRACE"/>
            <AppenderRef ref="UnknownErrorLogging" level="INFO"/>
            <AppenderRef ref="MetricLogging" level="DEBUG"/>
        </Root>
        <Logger name="org.apache.jena.riot" level="OFF"/>
    </Loggers>
</Configuration>
